<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>SimpleWEB Demo App</display-name>
	
	<!-- Embedded Console -->
	<servlet>
		<servlet-name>ff4j-console</servlet-name>
		<servlet-class>org.ff4j.web.embedded.ConsoleServlet</servlet-class>
		<init-param>
			<param-name>ff4jProvider</param-name>
			<param-value>org.ff4j.sample.SimpleFF4jProvider</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ff4j-console</servlet-name>
		<url-pattern>/ff4j-console</url-pattern>
	</servlet-mapping>

	<!-- Started PAGE -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>