<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>FF4j - SpringBoot2x - Error page</title>
        <!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
    </head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="box col-md-6 col-md-offset-3">
            <div class="custom-header">
                <img src="http://shiro.apache.org/assets/images/apache-shiro-logo.png"/>
            </div>
            <div class="logo">
                <h1 th:text="${errors.status}"></h1>
            </div>
            <p class="lead text-muted" th:text="${errors.message}">Unauthorized</p>
            <a href="/" class="btn btn-primary">Go Home</a>
        </div>
    </div>
</div>
</body>
</html>