<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Order Service</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
 <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
</head>
<body>

	<nav class="navbar navbar-inverse" style="background-color:#008800">
		<div class="container">
		<img th:src="@{/img/shopping-cart.png}" style="padding-top:5px" />
			<div class="navbar-header">
			    <a class="navbar-brand" href="#" style="color:white">
			      Customer Order Service
			    </a>
			</div>
		</div>
	</nav>

	<div class="container">

		<div class="starter-template">
			<h1> Customer Order Service </h1>
			<div th:if="${featureCallUs}">
				<a class="button" href="#">Call US</a>
				<div th:if="${phoneNumber}">
				<span th:text="'Phone Number ' + ${phoneNumber}"></span>
  			</div>
  			</div>
			
		</div>

	</div>
	<!-- /.container -->

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>